In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
names = pd.read_csv("yob1881.txt",names=["Name","Sex","Count"])
total_count = names["Count"].sum()
names['Prop'] = names['Count']/total_count
names.head()

        Name Sex  Count      Prop
0       Mary   F   6919  0.035906
1       Anna   F   2698  0.014001
2       Emma   F   2034  0.010555
3  Elizabeth   F   1852  0.009611
4   Margaret   F   1658  0.008604

In [18]:
val = "names/yob2011.txt"

In [22]:
val.split("/")[1].split(".")[0].split("yob")[1]

'2011'

In [28]:
file_data = pd.read_csv("yob1881.txt",names=["Name","Sex","Count"])

In [35]:
file_data["Name"].count()

1935

In [38]:
res = names.append(file_data)

In [39]:
res.count()

Count    3870
Name     3870
Prop     1935
Sex      3870
dtype: int64

In [40]:
res = pd.DataFrame()

In [41]:
res

Empty DataFrame
Columns: []
Index: []